.card {
    transition: 250ms all ease;
    padding: 1rem;
}

.success {
    background-color: none;
}

.active {
    background-color: red;
  } 

.row {
    padding: 2rem 0;
}

.col-6 {
    margin: 1rem 0;
}

@media only screen and (max-width: 575px) {
    h3{
        font-size: 1rem !important;
        margin-bottom: 0.3rem;
        opacity: 0.7;
    }
    .ui.statistic>.value {
        font-size: 1.7rem !important;
        // font-weight: 700;
    }
    .row {
        padding: 1rem 0;
    }
    .col-6 {
        margin: 0.5rem -0.5rem;
    }
}