.card {
    transition: 250ms all ease;
    padding: 1rem;
    &:hover {
        transform: translateY(-10px);
        transition: 250ms all ease;
        cursor: pointer;
    }
}
@media only screen and (max-width: 1200px) {
    .ui.statistic>.value {
        font-size: 3.3rem !important;
    }
}


.success {
    background-color: none;
}

.flip {
    background-color: rgb(128, 179, 255, 1);
    div{
        color: #FAF9F6 !important;
    }
  } 

.row {
    padding: 2rem 0;
}

.col-6 {
    margin: 1rem 0;
}

h2 {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 575px) {
    h3{
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
        opacity: 0.7;
    }
    .ui.statistic>.value {
        font-size: 1.7rem !important;
        // font-weight: 700;
    }
    .row {
        padding: 1rem 0;
    }
    .col-6 {
        margin: 0.5rem -0.5rem;
    }
    #barChart {
        padding: 1rem;
        height: 300px !important;
    }
    #donutChart {
        padding-bottom: 1rem;
        height: 250px !important;
    }
    #lineChart {
        display: none !important;
    }
    .card {
        &:hover {
            transform: translateY(0px);
            transition: 250ms all ease;
        }
    }
}